ion-button {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%; /* Make the button take the full width */
  display: block;
  font-size: 16px;
}

ion-card {
  margin-bottom: 20px; /* Add spacing between cards */
}

ion-chip {
  margin-right: 5px; /* Add space between the chips */
}
